<div class="legend snow-legend">
  <div class="legend-wrapper">
    <b></b><h4><%= t.renderMarkdown(slide.graphicTitle) %></h4>
    <ul>
    <li><b></b><label></label></li>
    <li><b></b><label>-45 days</label></li>
    <li><b></b><label>-30 days</label></li>
    <li><b></b><label>-15 days</label></li>
    <li><b></b><label>0 days</label></li>
    <li><b></b><label>+15 days</label></li>
    <li><b></b><label>+30 days</label></li>
    <li><b></b><label>+45 days</label></li>
  </ul>
  <div class="grey-label">
    <b></b>
    <label><%= t.renderMarkdown(slide.dataLabel) %></label>
  </div>
  </div>
</div>
