// ai2html artboard sizes
.g-artboard {
  @media screen and (min-width: 900px) {
    &[id$="-small"],
    &[id$="-medium"],
    &[id$="-wide"] {
      display: none !important;
    }
  }

  @media screen and (max-width: 899px) and (min-width: 730px) {
    &[id$="-small"],
    &[id$="-medium"],
    &[id$="-full_bleed"] {
      display: none !important;
    }
  }

  @media screen and (max-width: 729px) and (min-width: 400px) {
    &[id$="-small"],
    &[id$="-wide"],
    &[id$="-full_bleed"] {
      display: none !important;
    }
  }

  @media screen and (max-width: 399px) {
    &[id$="-medium"],
    &[id$="-wide"],
    &[id$="-full_bleed"] {
      display: none !important;
    }
  }
}

.ai2html .backdrop {

  .g-artboard {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    [id$="graphic"] {
      max-height: 100%;
      // max-height: 100vh;
      height: auto;
      width: auto;
      min-width: 0;
      min-height: 0;
      position: relative;

    img {
      width: auto !important;
      max-height: 100vh;
    }
  }
}
}

.ai2html .legend {
  border-top: 1px solid @off-white;
  margin-top: 22px;
  padding-top: 11px;
  width: 100%;

  h4 {
    .knockout-header();
    color: @off-white;
    font-size: 14px;
    margin: 0 0 11px 0;
    border-top: none;

    @media @mobile-above {
      font-size: 16px;
    }
  }
}

.legend.wui-legend {

  .legend-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  b {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    float: left;
  }

  h4 {
    margin: 0;
  }
}

#wui-wildfire-map-1 b {
    background-color: @light-red;
}

#wui-wildfire-map-2 b, #wui-wildfire-map-3 b {
    background-color: @red;
}

.highlight {
  border-bottom: 2px solid @yellow;
}
