.slide.chart {
  padding: 30vh 0;
  background: #111;

  @media @mobile {
    padding: 30vh 20px;
  }

  .graphic {
    margin: auto;
  }

  .chatter {
    max-width: 500px;
    margin: auto;
    line-height: 1.7;
    font-size: 17px;
    .gotham();

    @media @mobile {
      font-size: 15px;
    }
  }

  .caption {
    text-style: italic;
    font-size: 80%;
  }

  .container {
    max-width: 700px;
    margin: auto;
    padding: 0;
  }
}
