<section class="chart slide align-<%= slide.align || "right" %> <%= slide.layout %> <%= slide.classes %> <%= slide.constrain %>" id="<%= slide.id %>" data-type="chart">
  <div
    class="backdrop"
    data-src="./assets/synced/images/<%= slide.image %>"
    alt=""
    style="<%= t.style({
      "object-position": slide.anchor
    }) %>"
  >
  <div class="graphic <%= slide.chart %>">
    <div class="container">
      
    </div>
  </div>
</div>
  <% if (slide.inset) { %>
  <img class="inset" src="./assets/synced/<%= slide.inset%>" alt="">
  <% } %>
  <% if (slide.credit) { %>
  <span class="watermark" alt=""><%=slide.credit%></span>
  <% } %>
  <%= t.include("partials/_text.html", { slide }) %>
</section>

