<section class="text slide <%= slide.classes %>" id="<%= slide.id %>">
  <% if (slide.image) { %>
  <img
    src="./assets/synced/<%= slide.image %>"
    class="backdrop"
    alt=""
    style="<%= t.style({
      "object-fit": slide.contain ? "contain" : false,
      "object-position": slide.anchor
    }) %>"
  >
  <% } %>
  <div class="text">
    <!-- <div class="divider"></div> -->
    <div class="content">
      <%= t.renderMarkdown(slide.text) %>
    </div>
    <% if (slide.caption) { %>
    <div class="caption">
      <%= slide.caption %>
    </div>
    <% } %>
  </div>
</section>
